@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

:root {
  /* Colors */
  --color-blue: #008fec;
  --color-purple: #9012fe;
  --color-red: #fc4d64;
  --color-green: #3ebd41;
  --color-yellow: #f3ad38;
  /* Background */
  --bg-color-light: #ffffff;
  --bg-color-dark: #1a212d;
  /* Typo */
  --font-primary: 'Poppins', sans-serif;
  --font-color-light: #f6f7f8;
  --font-color-dark: #080808;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --font-color-dark: var(--font-color-light);
  --bg-color-light: var(--bg-color-dark);
}

body {
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--bg-color-light);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--color-dark);
}

h1 {
  font-size: clamp(2rem, 1.471830985915493rem + 2.253521126760563vw, 3.5rem); /* 32px - 56px */
}

h2 {
  font-size: clamp(1.75rem, 1.3538732394366197rem + 1.6901408450704223vw, 2.875rem); /* 28px - 46px */
}

h3 {
  font-size: clamp(1.5rem, 1.1919014084507042rem + 1.3145539906103285vw, 2.375rem); /* 24px - 38px */
}

h4 {
  font-size: clamp(1.25rem, 0.9859154929577465rem + 1.1267605633802815vw, 2rem); /* 20px - 32px */
}

h5 {
  font-size: clamp(1.125rem, 0.9049295774647887rem + 0.9389671361502347vw, 1.75rem); /* 18px - 28px */
}

h6 {
  font-size: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem); /* 16px - 24px */
}

p {
  text-wrap: pretty;
  font-size: var(--text-base);
  color: var(--color-dark);
  font-size: clamp(0.875rem, 0.7429577464788732rem + 0.5633802816901408vw, 1.25rem); /* 14px - 20px */
}

span {
  font-size: clamp(0.875rem, 0.8146718146718147rem + 0.2574002574002574vw, 1rem);
}

a {
  text-decoration: none;
  font-size: clamp(0.875rem, 0.8146718146718147rem + 0.2574002574002574vw, 1rem);
}

button {
  cursor: pointer;
}

/* Utils */

.wrapper {
  width: min(72rem, calc(100% - 2rem)); /* todo: test 80rem */
  margin-inline: auto;
}
